@import '../general/global';
@import '../general/variables';
@import '../general/display';

div.container {
    @include Display(space-around, center, column);

    width: 100vw;
    min-height: 100vh;

    img {
        display: block;

        max-width: 100%;
    }

    @import './mainBackgroundPart';
    @import './textsVideosPart';
    @import './infosFAQ';
    @import './footerPage';
}