$color1: rgba(0, 0, 0, 0.7);
$color2: rgb(255, 255, 255);
$color3: rgb(51, 51, 51);
$color4: rgb(229, 9, 20);
$color5: rgb(140, 140, 140);
$color6: rgb(179, 179, 179);
$color7: rgb(115, 115, 115);
$color8: rgba(0, 0, 0, 0);
$color9: rgb(0, 113, 235);
$color10: rgba(0, 0, 0, 0.75);
$color11: rgb(153, 153, 153);
$color12: rgb(0, 0, 0);

div.login {
    width: 100vw;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../assets/backgroundLogin.jpg');

    header {
        width: 100%;

        padding: 1em 2em;

        img {
            width: 14%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div.loginContainer {
            width: 33%;

            background-color: $color1;

            display: flex;
            flex-direction: column;

            padding: 60px 68px 40px;

            h1 {
                color: $color2;

                font-size: 2rem;

                margin-bottom: 1em;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 250px;

                margin-bottom: 4em;

                div.inputs {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    height: 120px;

                    margin-bottom: 2em;

                    input {
                        width: 100%;
                        height: 50px;

                        background-color: $color3;

                        border: 0;

                        border-radius: 5px;

                        padding-left: 1.2em;

                        color: $color2;

                        padding-top: 1em;
                    }

                    label {
                        color: $color5;

                        font-size: 1rem;

                        left: 40%;
                    }

                    div.emailsNumebers {
                        input {
                            position: relative;
                        }

                        label {
                            position: absolute;
                            
                            bottom: 59%;
                        }
                    }

                    div.passwords {
                        input {
                            position: relative;
                        }

                        label {
                            position: absolute;

                            bottom: 48%;
                        }
                    }

                    input:focus + label {
                        font-size: 12px;

                        transition: 0.2s;
                    }

                    input:focus + label#emailNumber {
                        top: 36.5%;
                    }

                    input:focus + label#passwordLabel {
                        top: 47.5%;
                    }
                }

                button {
                    border: 0;
                    border-radius: 4px;

                    font-size: 1rem;
                    font-weight: 700;

                    color: $color2;

                    background-color: $color4;

                    padding: 16px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                div.links {
                    display: flex;
                    justify-content: space-between;

                    div.checkboxRemember {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        width: 125px;

                        input {
                            color: $color1;
                        }

                        label {
                            color: $color6;
    
                            font-size: 0.8rem;
                        }
                    }

                    a {
                        color: $color6;

                        text-decoration: none;

                        font-size: 0.8rem;

                        font-weight: 500;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            div.infos {
                display: flex;
                flex-direction: column;

                span {
                    color: $color7;

                    font-size: 1rem;

                    margin-bottom: 1em;

                    a {
                        color: $color2;

                        text-decoration: none;

                        font-size: 1rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                p {
                    color: $color5;

                    font-size: 0.8rem;

                    button {
                        border: 0;
                        
                        background-color: $color8;

                        color: $color9;

                        &:hover {
                            cursor: pointer;

                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 250px;

        background-color: $color10;

        margin-top: 5em;

        padding: 2em 10em;

        div.footerContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            p.contact {
                color: $color7;

                font-size: 1rem;

                margin-bottom: 30px;
            }

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 30px 30px;

                list-style: none;

                margin-bottom: 30px;

                li {
                    a {
                        color: $color7;

                        font-size: 0.8rem;

                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            div.selectLanguage {
                span.icon {
                    color: $color11;

                    top: 16px;
                    left: 15px;

                    font-size: 20px;
                }

                select {
                    width: 152px;
                    height: 51px;

                    -webkit-appearance: none;

                    padding-left: 4.2em;

                    background-size: 20px;

                    border-color: $color3;

                    font-size: 0.8rem;

                    background-color: $color12;
                    
                    color: $color11;  
                    
                    margin-right: 10em;
                }

                span {
                    color: $color11;

                    top: 12px;
                    left: 123px;
                }
            }

        }
    }
}