@import '../scss/variables';

div.inputButton {
    display: flex;
    align-items: center;

    width: 70%;

    input {
        width: 70%;
        height: 58px;

        font-size: 16px;

        padding-left: 0.5em;
        padding-top: 0.1em;

        position: relative;
    }

    label {
        position: absolute;
        left: 360px;

        color: $color4;

        font-size: 16px;
    }

    input:focus + label.clicked {
        bottom: 155px;

        font-size: 13px;
        font-weight: bold;

        transition: 1s;
    }

    button {
        width: 25%;
        height: 60px;

        background-color: $color5;

        border: 0;

        font-size: 26px;

        color: $color2;

        padding-right: 0.5em;

        background-image: url('../assets/arrowRight.png');
        background-repeat: no-repeat;
        background-position: 140px;
        background-size: 16px;

        &:hover {
            cursor: pointer;

            background-color: $color5Hover;
        }
    }
}