@import 'global';

$color1: hsl(0, 0%, 0%);
$color2: rgb(255, 255, 255);
$color3: rgb(170, 170, 170);
$color4: rgb(140, 140, 140);
$color5: rgb(229, 9, 20);

$color5Hover: rgb(229, 9, 40);


div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 100vh;

    div.initialPart {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        align-items: center;

        width: 100vw;
        height: 100vh;

        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('../assets/background.jpg');
        background-repeat: no-repeat;
        background-size: 1300px;

        padding-bottom: 7.5em;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            align-self: center;

            width: 1200px;
            height: 90px;
     
            img {
                width: 150px;
                height: 50px;
            }

            div.buttons {
                display: flex;
                justify-content: space-between;

                width: 250px;  

                select {
                    border: 1px solid $color2;

                    width: 120px;

                    background-color: transparent;

                    padding-left: 1.5em;

                    color: $color2;

                    font-size: 0.9rem;

                    background-image: url('../assets/globo.png');
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: 7px;

                    option {
                        background-color: $color3;

                        color: $color2;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                button.loginButton {
                    width: 100px;
                    height: 35px;

                    background-color: $color5;

                    border: 0;
                    border-radius: 3px;

                    font-size: 1rem;

                    color: $color2;

                    font-weight: 400;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;

            div.inputTitle {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                height: 300px;

                h1 {
                    font-size: 3.1rem;

                    width: 700px;

                    color: $color2;

                    text-align: center;
                }

                h2, h3 {
                    color: $color2;

                    font-weight: 400;
                }

                div.inputButton {
                    display: flex;
                    align-items: center;

                    input {
                        width: 450px;
                        height: 60px;

                        font-size: 16px;

                        padding-left: 0.5em;

                        color: $color4;
                    }

                    button {
                        width: 170px;
                        height: 60px;

                        background-color: $color5;

                        border: 0;

                        font-size: 26px;

                        color: $color2;

                        padding-right: 0.5em;

                        background-image: url('../assets/arrowRight.png');
                        background-repeat: no-repeat;
                        background-position: 140px;
                        background-size: 16px;

                        &:hover {
                            cursor: pointer;

                            background-color: $color5Hover;
                        }
                    }
                }
            }
        }
    }
}